/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background-color: white;
	}

	label {
		float:left;
		text-align:left;
		width:90px;
		display:block;
		clear:both;
	}

	input.text {
		width:150px;
		clear:both;
	}

	input.submit {
		font-family: "Garamond", "Segoe-UI";
		font-size: 100%;
		font-weight: bold;
		color: #FFF;
		width:100px;
		height:35px;
		margin-top: 8%;
		clear:both;
		border: 2px solid #3869A3;
		border-radius: 8px;
		background: #529AF0;
	}

	table {
		margin: auto;
	}

	tr, td {
		border: 1px solid #000;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
	}

	td {
		text-align: center;
		width:60px;
	}

	.heading {
		background-color:#4DB2FA;
		color:white;
		padding:5px;
		font-variant: small-caps;
	}

	.navbar { 
		background-color: #DE4C3C; 
		border: 2px double white;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: center;
	}

	.navcontainer {
		background-color:#FFD1DB;
	}

	.loginbox { 
		padding-top: 3px;
		padding-left: 3px;
		background-color: #DE4C3C;
		color: white;
		margin:auto;
	}
	.loginlabel {
		border: 2px solid white;
	}
	.selection {
		margin-top: 0.6em;
		margin-bottom: 0.5em;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 0px;
		background-color: white;
		width:200px;
	}

	a.loginbox:link, a:link { color:white; border:none; }
	a.loginbox:visited, a:visited { color:#FFF9ED; border:none; }
	a.loginbox:hover, a:hover { color:#C9F0FF; }

	.row .topmargin5px{ margin-top:5px; }
	.container { margin-top:5px; }
	.centerText { text-align:center; }
	.centerObjects {
		text-align:center;
		float:center;
		margin:auto;
		display:block;
		clear:both;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}